.navbar {
    font-size: 1.5rem;
}

.listItems {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.listItems li{
    padding: 4px;
    display: flex;
    list-style-type: none;
}

.listItems li a {
    text-decoration: none;
    color: rgb(112, 15, 15);
    padding: 4px;
}

.listItems li a:active{
    background-color: #fff;
}

.activeTab{
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}