:root {
    --text: 1.1rem;
    --text-bold: 1.5rem;
    --color: rgb(112, 15, 15);
}

* {
    font-size: var(--text);
    color: var(--color);
}

.custom {
    width: 20%;
    height: 70vh;
    margin: 10px;
}

.custom2 {
    width: 50%;
    height: 70vh;
    margin: 10px;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 88%;
    background-color: #fff;
    width: 90%;
    margin: 10px 5%;
    padding: 20px 10px;
    border-radius: 20px;
}

/* menu */
.menu {
    border-right: 3px solid grey;
    padding-right: 10px;
}

.menuTitle {
    border-bottom: 2px solid var(--color);
}

.menuList li {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    background-color: rgb(254, 160, 176);
    border-radius: 20px;
}

.menuList li box-icon {
    margin: 10px 10px;
    background-color: #fff;
}

.menuList li span {
    padding: 15px 10px;
    font-size: 1.2rem;
}

.menuList li:hover {
    cursor: pointer;
}

.scroll {
    overflow-x: auto;
    white-space: nowrap;
}

/* image */
.imageSection img {
    width: 230px;
    height: 150px;
    margin-top: 1rem;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-left: -30px;
}

/* icons section */
.icons {
    max-width: 50%;
}

.icons box-icon {
    margin: 10px 0px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.icons box-icon:hover {
    cursor: pointer;
}

/* form section */
.forms {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="number"],
select {
    padding: 0.5rem;
    background-color: lightcoral;
    border: none;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="text"]:active,
select {
    outline: none;
    border: none;
}

input::placeholder {
    color: var(--color);
}

.customButton {
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    width: 150px;
    cursor: pointer;
    font-size: 1rem;
    color: azure;
    background-color: orange;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 20px;
}

.btnContent {
    display: flex;
    align-items: center;
}

.btnIcon {
    margin-left: 6px;
}

.forms .btnHolder {
    justify-content: flex-end;
    display: flex;
    margin-top: 8rem;
}
